#wrap
	%h3.reset RESET
	%h1 Sign Up Today!
	%form.signup
		%label Email
		%input.rubbish{:type => "text", :maxlength => "20"}/
		%input.trash{:type => "submit", :value => "SEND"}/
	.field
		.left
			.top
		.right
	.can
		.inner
			-5.times do
				.face
					.front
					.back
